 body {
	margin: 0;
	padding: 0;
 }
 font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: block;
}
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1376px;
	 height: 1519px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer0 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1376px;
	 height: 1519px;
	 z-index:1;
} 

 #RoundedRectangle4 
{ 
	 left: 354px; 
	 top: 10px; 
	 position: absolute; 
	 width: 771px;
	 height: 45px;
	 z-index:2;
} 

 #Layer10 
{ 
	 left: 1079px; 
	 top: 24px; 
	 position: absolute; 
	 width: 19px;
	 height: 19px;
	 z-index:3;
} 

 #MaxHealthcareHospita 
{ 
	 left: 381px; 
	 top: 26px; 
	 position: absolute; 
	 width: 159px;
	 height: 15px;
	 z-index:4;
} 

 #layer_5 
{ 
	 left: 1250px; 
	 top: 31px; 
	 position: absolute; 
	 width: 11px;
	 height: 9px;
	 z-index:5;
} 

 #AutofixLimited 
{ 
	 left: 1212px; 
	 top: 28px; 
	 position: absolute; 
	 width: 30px;
	 height: 16px;
	 z-index:6;
} 

 #layer_7 
{ 
	 left: 221px; 
	 top: 27px; 
	 position: absolute; 
	 width: 17px;
	 height: 18px;
	 z-index:7;
} 

 #Layer13 
{ 
	 left: 1107px; 
	 top: 12px; 
	 position: absolute; 
	 width: 46px;
	 height: 46px;
	 z-index:8;
} 

 #layer_9 
{ 
	 left: 1107px; 
	 top: 9px; 
	 position: absolute; 
	 width: 45px;
	 height: 53px;
	 z-index:9;
} 

 #Layer2copy 
{ 
	 left: 106px; 
	 top: 25px; 
	 position: absolute; 
	 width: 169px;
	 height: 26px;
	 z-index:10;
} 

 #Layer11 
{ 
	 left: 154px; 
	 top: 216px; 
	 position: absolute; 
	 width: 210px;
	 height: 67px;
	 z-index:11;
} 

 #Layer19 
{ 
	 left: 279px; 
	 top: 451px; 
	 position: absolute; 
	 width: 96px;
	 height: 97px;
	 z-index:12;
} 

 #layer_13 
{ 
	 left: 997px; 
	 top: 40px; 
	 position: absolute; 
	 width: 295px;
	 height: 297px;
	 z-index:13;
} 

 #Settings 
{ 
	 left: 1105px; 
	 top: 211px; 
	 position: absolute; 
	 width: 59px;
	 height: 17px;
	 z-index:14;
} 

 #copy2 
{ 
	 left: 1043px; 
	 top: 84px; 
	 position: absolute; 
	 width: 211px;
	 height: 49px;
	 z-index:15;
} 

 #Layer39 
{ 
	 left: 1061px; 
	 top: 209px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:16;
} 

 #Settingscopy 
{ 
	 left: 1105px; 
	 top: 262px; 
	 position: absolute; 
	 width: 60px;
	 height: 14px;
	 z-index:17;
} 

 #reviews 
{ 
	 left: 1061px; 
	 top: 262px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:18;
} 

 #layer_19 
{ 
	 left: 1064px; 
	 top: 100px; 
	 position: absolute; 
	 width: 16px;
	 height: 18px;
	 z-index:19;
} 

 #Layer38 
{ 
	 left: 1062px; 
	 top: 157px; 
	 position: absolute; 
	 width: 17px;
	 height: 17px;
	 z-index:20;
} 

 #MyAdscopy 
{ 
	 left: 1105px; 
	 top: 159px; 
	 position: absolute; 
	 width: 33px;
	 height: 18px;
	 z-index:21;
} 

 #Profile 
{ 
	 left: 1105px; 
	 top: 101px; 
	 position: absolute; 
	 width: 48px;
	 height: 14px;
	 z-index:22;
} 

 #footer 
{ 
	 left: 1px; 
	 top: 1353px; 
	 position: absolute; 
	 width: 1375px;
	 height: 166px;
	 z-index:23;
} 

 #CookiePolicy 
{ 
	 left: 973px; 
	 top: 1468px; 
	 position: absolute; 
	 width: 289px;
	 height: 16px;
	 z-index:24;
} 

 #CookiePolicycopy3 
{ 
	 left: 974px; 
	 top: 1379px; 
	 position: absolute; 
	 width: 108px;
	 height: 16px;
	 z-index:25;
} 

 #RoundedRectangle12 
{ 
	 left: 950px; 
	 top: 1403px; 
	 position: absolute; 
	 width: 326px;
	 height: 46px;
	 z-index:26;
} 

 #Layer49 
{ 
	 left: 1232px; 
	 top: 1408px; 
	 position: absolute; 
	 width: 36px;
	 height: 36px;
	 z-index:27;
} 

 #Layer2copy_0 
{ 
	 left: 89px; 
	 top: 1416px; 
	 position: absolute; 
	 width: 250px;
	 height: 39px;
	 z-index:28;
} 

 #Enteryouremail 
{ 
	 left: 976px; 
	 top: 1421px; 
	 position: absolute; 
	 width: 115px;
	 height: 14px;
	 z-index:29;
} 

 #Layer50 
{ 
	 left: 638px; 
	 top: 1401px; 
	 position: absolute; 
	 width: 44px;
	 height: 44px;
	 z-index:30;
} 

 #Layer9copy 
{ 
	 left: 695px; 
	 top: 1401px; 
	 position: absolute; 
	 width: 44px;
	 height: 44px;
	 z-index:31;
} 

 #FacebookIcon 
{ 
	 left: 653px; 
	 top: 1411px; 
	 position: absolute; 
	 width: 15px;
	 height: 25px;
	 z-index:32;
} 

 #TwitterIcon 
{ 
	 left: 706px; 
	 top: 1412px; 
	 position: absolute; 
	 width: 24px;
	 height: 22px;
	 z-index:33;
} 

 #layer_34 
{ 
	 left: 1246px; 
	 top: 1419px; 
	 position: absolute; 
	 width: 9px;
	 height: 14px;
	 z-index:34;
} 

 #CookiePolicycopy2 
{ 
	 left: 596px; 
	 top: 1470px; 
	 position: absolute; 
	 width: 183px;
	 height: 13px;
	 z-index:35;
} 

 #Layer51 
{ 
	 left: 682px; 
	 top: 1471px; 
	 position: absolute; 
	 width: 15px;
	 height: 13px;
	 z-index:36;
} 

 #RoundedRectangle13 
{ 
	 left: 101px; 
	 top: 103px; 
	 position: absolute; 
	 width: 1173px;
	 height: 1195px;
	 z-index:37;
} 

 #RoundedRectangle15 
{ 
	 left: 957px; 
	 top: 141px; 
	 position: absolute; 
	 width: 280px;
	 height: 253px;
	 z-index:38;
} 

 #Rectangle4copy 
{ 
	 left: 947px; 
	 top: 133px; 
	 position: absolute; 
	 width: 300px;
	 height: 60px;
	 z-index:39;
} 

 #Rectangle5copy2 
{ 
	 left: 958px; 
	 top: 242px; 
	 position: absolute; 
	 width: 279px;
	 height: 52px;
	 z-index:40;
} 

 #handcopy2 
{ 
	 left: 1067px; 
	 top: 277px; 
	 position: absolute; 
	 width: 15px;
	 height: 16px;
	 z-index:41;
} 

 #FacebookTwitterLinke 
{ 
	 left: 1061px; 
	 top: 214px; 
	 position: absolute; 
	 width: 69px;
	 height: 159px;
	 z-index:42;
} 

 #FacebookIcon_0 
{ 
	 left: 1040px; 
	 top: 211px; 
	 position: absolute; 
	 width: 10px;
	 height: 16px;
	 z-index:43;
} 

 #TwitterIcon_0 
{ 
	 left: 1039px; 
	 top: 262px; 
	 position: absolute; 
	 width: 17px;
	 height: 13px;
	 z-index:44;
} 

 #GIcon 
{ 
	 left: 1044px; 
	 top: 359px; 
	 position: absolute; 
	 width: 17px;
	 height: 17px;
	 z-index:45;
} 

 #LinkedInicon 
{ 
	 left: 1044px; 
	 top: 310px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:46;
} 

 #Rectangle1copy19 
{ 
	 left: 958px; 
	 top: 341px; 
	 position: absolute; 
	 width: 279px;
	 height: 4px;
	 z-index:47;
} 

 #Layer52 
{ 
	 left: 96px; 
	 top: 142px; 
	 position: absolute; 
	 width: 1182px;
	 height: 461px;
	 z-index:48;
} 

 #RoundedRectangle17 
{ 
	 left: 131px; 
	 top: 143px; 
	 position: absolute; 
	 width: 392px;
	 height: 320px;
	 z-index:49;
} 

 #Layer56 
{ 
	 left: 123px; 
	 top: 140px; 
	 position: absolute; 
	 width: 500px;
	 height: 333px;
	 z-index:50;
} 

 #LoremIpsumissimplydu 
{ 
	 left: 543px; 
	 top: 149px; 
	 position: absolute; 
	 width: 353px;
	 height: 45px;
	 z-index:51;
} 

 #Tags 
{ 
	 left: 143px; 
	 top: 1226px; 
	 position: absolute; 
	 width: 34px;
	 height: 10px;
	 z-index:52;
} 

 #Rectangle7 
{ 
	 left: 199px; 
	 top: 1207px; 
	 position: absolute; 
	 width: 696px;
	 height: 46px;
	 z-index:53;
} 

 #Layer57 
{ 
	 left: 205px; 
	 top: 1214px; 
	 position: absolute; 
	 width: 107px;
	 height: 33px;
	 z-index:54;
} 

 #Layer47copy 
{ 
	 left: 313px; 
	 top: 1214px; 
	 position: absolute; 
	 width: 155px;
	 height: 33px;
	 z-index:55;
} 

 #Layer47copy2 
{ 
	 left: 470px; 
	 top: 1214px; 
	 position: absolute; 
	 width: 135px;
	 height: 33px;
	 z-index:56;
} 

 #LoremIpsum 
{ 
	 left: 220px; 
	 top: 1227px; 
	 position: absolute; 
	 width: 80px;
	 height: 9px;
	 z-index:57;
} 

 #LoremIpsumdolor 
{ 
	 left: 329px; 
	 top: 1227px; 
	 position: absolute; 
	 width: 126px;
	 height: 9px;
	 z-index:58;
} 

 #Layer47copy3 
{ 
	 left: 608px; 
	 top: 1214px; 
	 position: absolute; 
	 width: 155px;
	 height: 33px;
	 z-index:59;
} 

 #LoremIpsumdolorcopy 
{ 
	 left: 624px; 
	 top: 1227px; 
	 position: absolute; 
	 width: 126px;
	 height: 9px;
	 z-index:60;
} 

 #LoremIpsumsit 
{ 
	 left: 488px; 
	 top: 1227px; 
	 position: absolute; 
	 width: 101px;
	 height: 9px;
	 z-index:61;
} 

 #2January2019 
{ 
	 left: 655px; 
	 top: 215px; 
	 position: absolute; 
	 width: 90px;
	 height: 12px;
	 z-index:62;
} 

 #calendarcopy2 
{ 
	 left: 636px; 
	 top: 212px; 
	 position: absolute; 
	 width: 14px;
	 height: 15px;
	 z-index:63;
} 

 #AmirKhan 
{ 
	 left: 564px; 
	 top: 214px; 
	 position: absolute; 
	 width: 63px;
	 height: 10px;
	 z-index:64;
} 

 #Layer55 
{ 
	 left: 547px; 
	 top: 214px; 
	 position: absolute; 
	 width: 12px;
	 height: 12px;
	 z-index:65;
} 

 #Loremipsumdolorsitam 
{ 
	 left: 142px; 
	 top: 496px; 
	 position: absolute; 
	 width: 765px;
	 height: 685px;
	 z-index:66;
} 

 #Loremipsumdolorsitam_0 
{ 
	 left: 549px; 
	 top: 253px; 
	 position: absolute; 
	 width: 345px;
	 height: 202px;
	 z-index:67;
} 

 #SocialMedia 
{ 
	 left: 1018px; 
	 top: 161px; 
	 position: absolute; 
	 width: 101px;
	 height: 14px;
	 z-index:68;
} 

 #layer_544983200 
{ 
	 left: 985px; 
	 top: 157px; 
	 position: absolute; 
	 width: 21px;
	 height: 22px;
	 z-index:69;
} 

 #RoundedRectangle9 
{ 
	 left: 957px; 
	 top: 429px; 
	 position: absolute; 
	 width: 279px;
	 height: 210px;
	 z-index:70;
} 

 #SubscribeToNewslette 
{ 
	 left: 999px; 
	 top: 457px; 
	 position: absolute; 
	 width: 194px;
	 height: 13px;
	 z-index:71;
} 

 #RoundedRectangle8 
{ 
	 left: 975px; 
	 top: 500px; 
	 position: absolute; 
	 width: 246px;
	 height: 46px;
	 z-index:72;
} 

 #Enteryouremailadress 
{ 
	 left: 994px; 
	 top: 518px; 
	 position: absolute; 
	 width: 160px;
	 height: 13px;
	 z-index:73;
} 

 #RoundedRectangle8cop 
{ 
	 left: 981px; 
	 top: 562px; 
	 position: absolute; 
	 width: 234px;
	 height: 46px;
	 z-index:74;
} 

 #Subscribe 
{ 
	 left: 1061px; 
	 top: 579px; 
	 position: absolute; 
	 width: 76px;
	 height: 12px;
	 z-index:75;
} 

 #RoundedRectangle18 
{ 
	 left: 755px; 
	 top: 201px; 
	 position: absolute; 
	 width: 119px;
	 height: 34px;
	 z-index:76;
} 

 #Layer60 
{ 
	 left: 757px; 
	 top: 203px; 
	 position: absolute; 
	 width: 31px;
	 height: 31px;
	 z-index:77;
} 

 #Layer62 
{ 
	 left: 763px; 
	 top: 210px; 
	 position: absolute; 
	 width: 16px;
	 height: 17px;
	 z-index:78;
} 

 #Share 
{ 
	 left: 803px; 
	 top: 211px; 
	 position: absolute; 
	 width: 42px;
	 height: 12px;
	 z-index:79;
} 
